body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: sans-serif;
}

div {
    color: #FFFFFF;
}

canvas {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

button {
    background-color: #262626;
    color: #FFFFFF;
    border: 1px solid white;
}

.input-container {
    position: absolute;
    display: flex;
    gap: 10px;
    color: aliceblue;
}
